.venv/
.npx-venv/
.env
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
node_modules/
.DS_Store
*.tgz
tests/
uv.lock
.python-version
.coverage
htmlcov/